
body {
  color: #272727;
  margin: 0;
  padding: 0;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.71428571;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

h2 {
  text-transform: uppercase;
  margin: 20px 0 40px;
  line-height: 0.85714286;
  font-size: 28px;
  font-weight: 700;
}